body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, sans-serif;
    background-color: #ffffff;
    color: #530ee7;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f32400; 
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    color: #fff;
    font-size: 28px;
}

main {
    font-family: 'Courier New', Courier, monospace;
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

section {
    margin-bottom: 30px;
}

h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #de0f84;
    border-bottom: 2px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    color: hsl(115, 92%, 39%);
    text-align: right;
}
